* {
    font-family: "Courier New";
    /*universal selector*/
}

h3 {
    color: purple;
    /* h3 selector */
}

h1 {
    color: #b92b27;
    /* h1 selector */
}

#login {
    background-color: white;
    /* id selector */
}

#signup {
    background-color: #b92b27;
    color: white;
}

.upvote {
    background-color: green;
    color: white;
    /* class selector */
}

p a {
    color: purple;
    background-color: yellow;
    /* descendant selector */
}

p+h3 {
    text-decoration: underline;
    /* adjacent sibling selector */
}

.upvote+button {
    background-color: cornflowerblue;
    color: white;
}

div>input {
    background-color: darksalmon;
    /* child selector */
}

input[type=text] {
    color: green;
}

input[type=password] {
    color: red;
    /* attribute selector */
}

input[type] {
    background-color: ghostwhite;
}

#myid {
    color: green;
    /* id selector */
}

button:hover {
    background-color: black;
    color: white;
}

button:active {
    background-color: hotpink;
    color: black;
}

input[type="radio"]:checked+label {
    color: red;
    font-weight: bold;
    /* pseudo class selector */
}

div:nth-of-type(2) {
    background-color: blanchedalmond;
    /* pseudo class selector */
}
h1::first-letter{
    color: black;
}
p::first-line{
    color: purple;
}
p::selection{
    background-color: yellow;
}
h3{
    background-color: lightblue;
}
h3{
    background-color: gold;
}