h1{
    text-align: center;
    text-decoration: wavy red underline;
    letter-spacing: 5px;
    font-size: 50px;
    font-family: 'Arial', sans-serif;
}
h3{
    text-align: start;
    text-decoration: pink line-through;
}

p{
    text-align: justify;
    font-size: 400;
    line-height: 1.5;
    font-size: 10px;
}
h2{
    font-size: 500;
    text-decoration: blue overline;
}
